.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  
  }
  .form-label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }

  .radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .radio-group div {
    margin-right: 10px;
  }
  input[type="radio"] {
    margin-right: 5px;
  }