<div class="container">
  <button class="btn btn-warning" (click)="editProp()">Edit Mode</button>
  <form>
    <div class="row">
    <div class="col">
    <div class="mb-3 mt-3">
      <label for="text" class="form-label">Developer/Builder Name</label>
      <input type="text"  class="form-control" placeholder="Godrej Developers"  name="Developer Name" [(ngModel)]="data.DeveloperName">
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Project Name</label>
      <input type="text" class="form-control" placeholder="Godrej Hills"  name="Project Name" [(ngModel)]="data.ProjectName">
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Location Name</label>
      <input type="text" class="form-control" placeholder="Example: Baner" [(ngModel)]="data.locationName" name="Location Name">
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Land Parcel in Acres</label>
      <input type="text" class="form-control" placeholder="7 Acres" [(ngModel)]="data.landParcelInAcres" name="Land Parcel in Acres">
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Builder Land/JV</label>
      <input type="text" class="form-control" placeholder="" [(ngModel)]="data.builder_land" name="Builder Land/JV">
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Munciple Corporation Name</label>
      <select class="form-select" [(ngModel)]="data.MuncipleCorporationName">
        <option>PMC</option>
        <option>PCMC</option>
        <option>PMRDA</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">About Builder</label>
      <textarea class="from-control" [(ngModel)]="data.DeveloperBriefDetails"></textarea>
    </div>
    <div class="input-group">

      <input type="text" aria-label="lattitude" class="form-control"  placeholder="lattitude" name="lattitude" [(ngModel)]="data.lattitude">
      <input type="text" aria-label="longitiude" class="form-control" placeholder="longitude" name="longititude" [(ngModel)]="data.longitude">
    </div>
    <br>
    <div>
      <label for="files">All Image for Property:</label><br>
      <input type="file" id="files" name="files"  (change)="handleFileInput($event)" multiple><br><br>
      <ul *ngFor="let uri of imagesUri;let i=index"><li><img src={{uri}} height="100"> <button *ngIf="uri!==''" class="btn btn-danger" (click)="removeMultipleImages(i)">Remove</button></li></ul>
      
    </div>
  </div>
  <div class="col">
    <div class="mb-3 mt-3">
      <label for="text" class="form-label">Construction Type</label>
      <input type="text" class="form-control" placeholder="" [(ngModel)]="data.constructionType" name="Construction Type">
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Possession Timeline</label>
      <select class="form-select" [(ngModel)]="data.possessionTimeline">
        <option>Ready Possession</option>
        <option>Under Construction</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="number" class="form-label">Total Number of Units</label>
      <input type="number" class="form-control" placeholder="" [(ngModel)]="data.totalNumberOfUnits" name="Total Number of Units">
    </div>
    <div class="mb-3">
      <label for="number" class="form-label">No of Towers</label>
      <input type="number" class="form-control" placeholder="" [(ngModel)]="data.noOfTowers" name="No of Towers">
    </div>
    <div class="mb-3">
      <label for="number" class="form-label">Highrise Count</label>
      <input type="number" class="form-control" placeholder="" [(ngModel)]="data.highriseCount" name="Highrise Count">
    </div>
    <div class="mb-3">
      <label for="number" class="form-label">Flat/Floor</label>
      <input type="number" class="form-control" placeholder="" [(ngModel)]="data.Flat_Floor" name="Flat/Floor">
    </div>
    <div class="mb-3">
      <label for="number" class="form-label">Project Open Space in %</label>
      <input type="number" class="form-control" placeholder="" [(ngModel)]="data.ProjectOpenSpace" name="Project Open Space in %">
    </div>
    <div class="mb-3">
      <label for="number" class="form-label">No Of Lifts</label>
      <input type="number" class="form-control" placeholder="" [(ngModel)]="data.noOfLifts" name="No Of Lifts">
    </div>
    <div class="mb-3">
      <label for="number" class="form-label">Staircase</label>
      <div *ngFor="let stair of staircaseList">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="check1" [(ngModel)]="stair.common" name="option1" value=true checked>
      <label class="form-check-label" for="check1">Common: </label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="check2" [(ngModel)]="stair.fireExit" name="option2" value=true>
      <label class="form-check-label" for="check2">Fire Exit:</label>
    </div>
  </div>
  </div>
  <div class="mb-3">
    <label for="text" class="form-label">Refugee Area- Floors</label>
    <input type="text" class="form-control" placeholder="" [(ngModel)]="data.RefugeAreaFloors" name="Refugee Area- Floors">
  </div>
  <div class="mb-3">
    <label for="text" class="form-label">DG Backup</label>
    <select class="form-select" [(ngModel)]="data.DGBackup">
      <option>Common</option>
      <option>Flats</option>
    </select>
  </div>
  </div>
  <div class="col">
  <!-- Features -->
  <div class="mb-3 mt-3">
    <label for="radio" class="form-label">Features</label>
     <table class="table table-bordered">
       <thead>
         <tr>
       <th>Feature</th>
       <th>Value</th>
     </tr>
   </thead>
       
   
    <tbody  *ngFor="let feature of propFeatures">
         <tr>
         <td>{{feature.key}}</td>
      
         <td>
           <div class="form-check">
            
             <input type="radio" class="form-check-input" id="radio1" name={{feature.key}} value=true [(ngModel)]="feature.value" >
             <label class="form-check-label" for="radio1">Yes</label>
           </div>
           <div class="form-check">
             <input type="radio" class="form-check-input" id="radio2"  name={{feature.key}} value=false [(ngModel)]="feature.value"checked>
             <label class="form-check-label" for="radio2">No</label>
           </div>
         </td>
       </tr>
     </tbody>
       
     </table>
      
     <div class="form-floating  mb-3">

      <div class="input-group">
        <!-- <span class="input-group-text" style="font-size: smaller;">Neighbourhood</span> -->
  
        <input type="text" aria-label="Neighbourhood" class="form-control" placeholder="Neighbourhoods" [(ngModel)]="neighbour">
       
      
      <button type="button" class="btn btn-dark" (click)="appendNeighbour()">Add</button>
     
    </div>
    <table class="table">
      <tr>
      <td>Neighbourhood List</td>
   
    </tr>
    <tr *ngFor="let n of neighbourArr; index as ind">
        <td>{{n}}</td>
  
        <button class="btn btn-danger " (click)="removeNeighbour(ind)">X</button>
    </tr>
    </table>
    </div>
   </div>
  </div>
  <div class="col">
  <!-- Amenities -->
  <div class="mb-3 mt-3">
   <label for="radio" class="form-label">Amenities</label>
    <table class="table table-bordered">
      <thead>
        <tr>
      <th>Amenity</th>
      <th>Value</th>
    </tr>
  </thead>
      
  
   <tbody  *ngFor="let amenity of amenities">
        <tr>
        <td>{{amenity.key}}</td>
     
        <td>
          <div class="form-check">
           
            <input type="radio" class="form-check-input" id="radio1" name={{amenity.key}} value=true [(ngModel)]="amenity.value" >
            <label class="form-check-label" for="radio1">Yes</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="radio2"  name={{amenity.key}} value=false [(ngModel)]="amenity.value" checked>
            <label class="form-check-label" for="radio2">No</label>
          </div>
        </td>
      </tr>
    </tbody>
      
    </table>
     
   
  </div>
  
</div> 
   
<table class="table table-bordered mt-4">
  <thead> 
    <tr>
      <th></th>
      <th>1BHK</th>
      <th>2BHK</th>
      <th>3BHK</th>
      <th>4BHK</th>
    </tr>
  </thead>
  <tbody *ngFor="let flat of bhkSpecificObj ;let i =index;">
    <tr>
      <td>{{flat.key}}</td>
      <td><input type="text"  class="form-control" placeholder="{{flat.key}} of 1 BHK" [(ngModel)]="bhkSpecificObj[i].value1"></td>
      <td><input type="text"  class="form-control" placeholder="{{flat.key}} of 2 BHK" [(ngModel)]="bhkSpecificObj[i].value2"></td>
      <td><input type="text"  class="form-control" placeholder="{{flat.key}} of 3 BHK" [(ngModel)]="bhkSpecificObj[i].value3"></td>
      <td><input type="text"  class="form-control" placeholder="{{flat.key}} of 4 BHK" [(ngModel)]="bhkSpecificObj[i].value4"></td>
    </tr>
  </tbody>
</table>
</div>
<button type="submit" class="btn btn-primary" (click)="postProp()">Submit</button>
</form> 
</div>