<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"><b>HomesFinder <br>Dashboard</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/prop-add" routerLinkActive="active">Add Property</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/prop-edit" routerLinkActive="active">Edit Property</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/inquiries" routerLinkActive="active">Inquries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<!-- <ng-template>
<div class="container-fluid">
<div class="row">
  <div class="col">
    <app-newpropform></app-newpropform>
  </div>
  <div class="col">
   <app-proplist></app-proplist>
  </div>
  </div>
</div>
</ng-template>   -->